@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    HttpContextAccessor.HttpContext.Session.SetString("Nursemail", "");
}
@{
    ViewData["Title"] = "Log in";
}

<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@ViewData["Title"] - Create a new account</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nzlogo.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <section>
                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-action="ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">

            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <section>
                    <a href="@Url.Action("Nurselogin","Account")" target="_blank"><h4>CLICK HERE to Login as HELPER!</h4></a>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-2">

            </div>
            @*<div class="col-md-6 col-md-offset-2">
                    <section>
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <h4>Nurse LogIn</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a asp-action="ForgotPassword">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>*@
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <img style="height:60px;border-radius:50%;" src="~/images/nurse.png" />
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">Need a babysitter or babysitter job? Nanny4urtiny is the one-stop resource for all your babysitting, nanny, and child care needs. We are an online community dedicated to connecting families to a wide network of babysitters, nannies, daycares and childcare individuals. </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">If you're looking to hire a child care for your kids or you're a babysitter, nanny or child care worker looking for a job — Nanny4urtiny can help!</p>
            </div>
        </div>
        <!-- About Section Button -->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://play.google.com/store/apps?hl=en">
                <i class="fa fa-download mr-2"></i>
                Download App!
            </a>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
